/**
* @ Author: David Lhoumaud
* @ Create Time: 2024-11-12 11:34:38
* @ Modified by: David Lhoumaud
* @ Modified time: 2024-11-25 22:40:20
* @ Description: CSS de base pour CoreMVC
*/

@use "sass:map";
@use "_variables"   as v;
@use "_colors"      as c;
@use "_typo"        as t;
@use "_mixins"      as m;
@use "_extends"     as e;

.shadow-top {
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.075);
}

.shadow-bottom {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
}

.shadow-left {
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.075);
}

.shadow-right {
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.075);
}