/**
* @ Author: David Lhoumaud
* @ Create Time: 2024-11-12 11:34:38
* @ Modified by: David Lhoumaud
* @ Modified time: 2024-11-25 22:40:20
* @ Description: CSS de base pour CoreMVC
*/

@use "sass:map";
@use "_variables"   as v;
@use "_colors"      as c;
@use "_typo"        as t;
@use "_mixins"      as m;
@use "_extends"     as e;

body {
    >header {
        >nav {
            .nav-link{
                >i {
                    color:rgba(0, 0, 0, 0.8);
                }
            }
            .dropdown-toggle::after {
                border:0;
            }
            .dropdown-menu a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-decoration: none;
                color: inherit;
                white-space: nowrap;
            }
        
            .dropdown-menu i {
                margin-right: 8px; /* Espacement entre l'icône et le texte */
                font-size: 1.2em; /* Ajuster la taille de l'icône pour correspondre au texte */
                width: 1.5em;
            }
        
            .dropdown-divider {
                margin: 0.5rem 0;
                border-color: #ddd;
            }
            form {
                .form-control {
                    border: none;
                    box-shadow: none !important; 
                    border-radius: v.$rounded 0 0 v.$rounded;
                }
                
                .btn-success {
                    background-color: #28a745; /* Couleur du bouton */
                    border: none; /* Supprime les bordures */
                    border-radius: 0 v.$rounded v.$rounded 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .btn-success:hover {
                    background-color: #218838; /* Couleur au survol */
                    color: #fff;
                }
                
                .btn-success i {
                    font-size: 1rem; /* Taille de l'icône */
                }
            }
        }
    }
}

.shadow-top {
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.075);
}

.shadow-bottom {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
}

.shadow-left {
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.075);
}

.shadow-right {
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.075);
}